* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  scrollbar-width: thin;
  scrollbar-color: rgb(211, 211, 217) #030303;
}

*::-webkit-scrollbar {
  width: 12px;
}

/* *::-webkit-scrollbar-track {
   background: #b29050; 
} */

*::-webkit-scrollbar-thumb {
  background-color: #6f4628;
  border-radius: 5px;
  /* border: 3px solid #b29050; */
}
.masuklogo {
  width: 100%;
  height: auto;
  max-width: 150px;
  max-height: 150px;
}
body {
  /* background-image: url('../img//bg-kulit.png'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* min-height: 600px; */
}

.gambar-jelajah {
  width: 100%;
  height: 300px;
}

/* Button */
.cta {
  display: flex;
  padding: 11px 33px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: #ffffff;
  background: #6f4628;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
  margin: 0 auto;
  margin-top: 50px;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #b28053;
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover .second {
  transition: 0.5s;
  margin-right: 45px;
}

.span {
  transform: skewX(15deg);
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: #ffffff;
  }

  50% {
    fill: #b28053;
  }

  100% {
    fill: #ffffff;
  }
}

/* end button */

.navbar-toggler:focus {
  border: 0 !important;
  box-shadow: none !important;
}

.navbar-toggler {
  border: 0 !important;
}

/* Navbar */
.BtnAnm {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: black;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
}

.BtnAnm::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #6f4628;
  transition: 0.5s ease;
}

.BtnAnm:hover {
  color: white;
  transition-delay: 0.5s;
}

.BtnAnm:hover::before {
  width: 100%;
}

.BtnAnm::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #6f4628;
  transition: 0.4s ease;
  z-index: -1;
}

.BtnAnm:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

.navi {
  background-color: #f6f8fa;
}
.logo {
  width: 35px;
  height: auto;
  max-width: 35px;
  max-height: 100px;
}
.bgnav {
  background-color: whitesmoke;
}
.bgnav1 {
  color: black;
}
.form_container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 40px 20px 40px;
  background-color: #ffffff;
  box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01), 0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09), 0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  font-family: 'Inter', sans-serif;
}

.logo_container {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background: linear-gradient(180deg, rgba(248, 248, 248, 0) 50%, #f8f8f888 100%);
  border: 1px solid #f7f7f8;
  filter: drop-shadow(0px 0.5px 0.5px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  border-radius: 11px;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.titlejud {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #212121;
}

.subtitlejud {
  font-size: 0.725rem;
  max-width: 80%;
  text-align: center;
  line-height: 1.1rem;
  color: #8b8e98;
}

.input_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.iconic {
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 9px;
}

.input_label {
  font-size: 0.75rem;
  color: #8b8e98;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.sign-in_btn {
  width: 100%;
  height: 40px;
  border: 0;
  background: #115dfc;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

.sign-in_ggl {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #ffffff;
  border-radius: 7px;
  outline: none;
  color: #242424;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  cursor: pointer;
}

.sign-in_apl {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #212121;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  cursor: pointer;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #8b8e98;
}

.separator .line {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
}

.note {
  font-size: 0.75rem;
  color: #8b8e98;
  text-decoration: underline;
}

.nav-link,
.nav-link:visited {
  font-size: 1.2em;
  color: black !important;
}

.nav-link:hover {
  font-size: 1.2em;
  color: gray !important;
}

.nav-link::after {
  display: block;
  content: '';
  border-bottom: 2px solid #f7d32c;
  transform: scaleX(0);
  transition: transform 500ms cubic-bezier(1, 0.19, 0, 0.86);
  transform-origin: left;
}

.nav-link:hover::after {
  transform: scaleX(1);
}
.link-border {
  font-size: 1.3em !important;
}

.btn-outline-primary {
  border-color: #b29050 !important;
  color: white !important;
}
.btn-outline-primary:hover {
  background-color: #b29050 !important;
  color: black !important;
}
/* End Button Login */
.margprod {
  margin-top: 4rem;
}

.margteng {
  margin-left: 8rem;
  margin-right: 8rem;
}
.values {
  text-decoration: none;
  list-style: none;
}
.t-values {
  font-size: 1.1em;
}
.img-size-about {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 500px;
}
.img-about1 {
  width: 100%;
  height: auto;
  max-width: 800px;
  max-height: 600px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
/* foot */

.link-secondary {
  text-decoration: none;
}
.foto1 {
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 400px;
  margin-bottom: 1rem;
}
.logofoot {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  margin: 2rem auto 2rem;
  display: block;
}
.footketkiri {
  margin-left: 2.5rem;
}
.footketkiri2 {
  margin-left: 0rem;
}
.footketkiri3 {
  margin-left: 0rem;
}
.tekskiri {
  text-align: left;
}
/* foot */
.logo {
  margin-left: 3rem;
  margin-right: 2rem;
}
.navbar-toggler {
  border-color: white !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.bg-foot {
  background-color: gray;
}
.judawal {
  font-size: 5em;
}
.kikiki {
  font-size: 3em;
  margin-top: 2rem;
  text-align: center;
  padding: 1em;
}
.tulisan {
  text-align: left;
}
.tulisanakhir {
  font-size: 3em;
}
.darkmode--activated .terang {
  color: white;
}
.darkmode--activated .wakawk {
  color: white;
}
.darkmode--activated .tulisan {
  color: white;
}
.darkmode--activated .tulisanakhir {
  color: white;
}
.kikiki {
  color: white;
}
@media only screen and (min-width: 319px) and (max-width: 767px) {
  .logo {
    width: 100%;
    height: auto;
    max-width: 50px;
    max-height: 100px;
  }
  .BtnAnm {
    font-size: 10px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: black;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
  }
  .logo {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .judulbesar {
    font-size: 2.5em;
  }
  .judulsedang {
    font-size: 1.5em;
  }
  .judulkecil {
    font-size: 0.7em;
  }
  .navigasi {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .logofoot {
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    margin: 0rem auto 0rem;
    display: block;
  }
  .footketkiri {
    margin-left: 0rem;
  }
  .footketkiri2 {
    margin-left: 2.5rem;
  }
  .footketkiri3 {
    margin-left: 2.5rem;
  }
  .tekskiri {
    text-align: left;
    margin-left: 2rem;
  }
  .margteng {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .hehehe-boy {
    font-size: 0.4em;
    margin-top: 1.5em;
  }
  .judawal {
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
    margin-top: -1em;
  }
  .kikiki {
    font-size: 2em;
  }
  .tulisan {
    text-align: center;
  }
  .tulisanakhir {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .promosigambar {
    width: 350px;
    height: 225px;
    border-radius: 1rem;
  }
  .dalamcarousel {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .card {
    width: 230px;
    height: 350px;
    padding: 0.8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .tigad {
    width: 205px;
    height: 150px;
  }
  .text-body {
    font-size: 0.7em;
  }
  .text-promo {
    font-size: 0.85em;
  }
  .logofoot {
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    margin: 0rem auto 0rem;
    display: block;
  }
  .footketkiri {
    margin-left: 0rem;
  }
  .footketkiri2 {
    margin-left: 2.5rem;
  }
  .footketkiri3 {
    margin-left: 2.5rem;
  }
  .tekskiri {
    text-align: left;
    margin-left: 2rem;
  }
  .judawal {
    font-size: 4em;
  }
  .kikiki {
    font-size: 2.5em;
  }
  .tulisan {
    text-align: left;
  }
  .tulisanakhir {
    font-size: 2.5em;
  }
}
