* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  scrollbar-width: thin;
  scrollbar-color: blue #b29050;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #b29050;
}

*::-webkit-scrollbar-thumb {
  background-color: #6f4628;
  border-radius: 20px;
  border: 3px solid #b29050;
}

body {
  background-color: whitesmoke;
}

.logo {
  width: 35px;
  height: auto;
  max-width: 35px;
  max-height: 100px;
}
.bgnav {
  background-color: rgb(97, 51, 18, 0.9);
}
.bgnav1 {
  color: black;
}

.nav-link,
.nav-link:visited {
  font-size: 1.2em;
  color: white;
}

.nav-link:hover {
  font-size: 1.2em;
  color: white;
}

.nav-link::after {
  display: block;
  content: '';
  border-bottom: 2px solid #f7d32c;
  transform: scaleX(0);
  transition: transform 500ms cubic-bezier(1, 0.19, 0, 0.86);
  transform-origin: left;
}

.nav-link:hover::after {
  transform: scaleX(1);
}
.link-border {
  font-size: 1.3em;
}

.btn-outline-primary {
  border-color: #b29050;
}
.btn-outline-primary:hover {
  background-color: #b29050;
  color: black;
}

#tekshaha {
  color: black;
}
#tekshaha1 {
  color: black;
}
#tekshaha2 {
  color: black;
}
#tekshaha3 {
  color: black;
}
#tekshaha4 {
  color: black;
}
#tekshaha10 {
  color: black;
}

/* Button Login */
.btnlog {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 5px 20px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: whitesmoke;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #b29050;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #b29050;
}

.btnlog:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #b29050;
}

.btnlog:active {
  transform: scale(0.9);
}
/* End Button Login */
.margprod {
  margin-top: 7rem;
}

.margteng {
  margin-left: 12rem;
  margin-right: 12rem;
}
.values {
  text-decoration: none;
  list-style: none;
}
.t-values {
  font-size: 1.1em;
}
.img-size-about {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 500px;
}
.img-about1 {
  width: 100%;
  height: auto;
  max-width: 800px;
  max-height: 600px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
/* foot */

.link-secondary {
  text-decoration: none;
}
.foto1 {
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 400px;
  margin-bottom: 1rem;
}
.logofoot {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  margin: 2rem auto 2rem;
  display: block;
}
.footketkiri {
  margin-left: 2.5rem;
}
.footketkiri2 {
  margin-left: 0rem;
}
.footketkiri3 {
  margin-left: 0rem;
}
.tekskiri {
  text-align: left;
}
/* foot */
@media only screen and (min-width: 319px) and (max-width: 767px) {
  .logo {
    width: 100%;
    height: auto;
    max-width: 50px;
    max-height: 100px;
  }
  .judulbesar {
    font-size: 2.5em;
  }
  .judulsedang {
    font-size: 1.5em;
  }
  .judulkecil {
    font-size: 0.7em;
  }
  .navigasi {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .logofoot {
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    margin: 0rem auto 0rem;
    display: block;
  }
  .footketkiri {
    margin-left: 0rem;
  }
  .footketkiri2 {
    margin-left: 2.5rem;
  }
  .footketkiri3 {
    margin-left: 2.5rem;
  }
  .tekskiri {
    text-align: left;
    margin-left: 2rem;
  }
}
